.background-image {
  padding-top: 25px;
  /*********************************************************
  *
  * Make the hero.jpg image fill the height of the browser
  *
  *********************************************************/
  background-image: url("images/hero.jpg");
  background-size: cover;
  height: 30%;
